@import 'font-face.scss';

$enable-responsive-font-sizes: true;

.serif, h1, h2, h3 {
  font-family: $font-family-serif;
}

.handwritten {
  font-family: 'Pacifico', serif;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  html {
    font-size: .9rem;
  }
}

